@import "./variables.scss";
.mealitem {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;

  margin: 0.2rem;
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid $color-secondary;
  font-weight: 500;
  &__row1 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    &--name {
    }
    &--description {
      font-style: italic;
      font-weight: 300;
    }
    &--price {
    }
  }
}
