$color-primary: #c91e00;
$color-white: #fff;
$color-secondary: #941701;
$primary-border: 14px;
$image-url: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT1YzjMtBBscGm-yqXsaEZk6Ow3q5I_LT7kw&usqp=CAU";
// #c91e00
